server.port: 5601
server.host: "0.0.0.0"
server.name: "kibana.local.az"
elasticsearch.hosts: ["http://{{groups["coordinating"][0]}}:9200", "http://{{groups["coordinating"][1]}}:9200"]
kibana.index: ".kibana"
